.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.container {
    height: 100vh;
}

#row {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#block {
    text-align: center;
}

body {
    background-color: #eee;
}
