{% extends "tickets/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
{% if instance.image %}
<img src="{{ instance.image.url }}" />
{% endif %}
<p>{{ instance.issue }}</p>
<p>{{ instance.updated }}</p>
<p>{{ instance.user }}</p>
<p>{{ instance.content }}</p>
<p>{{ instance.timestamp }}</p>
<p>{{ instance.ticket_state }}</p>
<p>{{ instance.completion_state }}</p>
<p>{{ instance.open_state }}</p>


<h3>Comments</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="comment" />
</form>
<br>
{% for comment in comments %}
<p>{{ comment.user }}</p>
<p>{{ comment.comment }}</p>
<p>{{ comment.timestamp }}</p>
<br>
{% endfor %}
{% endblock %}
