{% extends "tickets/base.html" %}

{% block content %}
{% if instance.image %}
<img src="{{ instance.image.url }}" />
{% endif %}
<p>{{ instance.issue }}</p>
<p>{{ instance.updated }}</p>
<p>{{ instance.user }}</p>
<p>{{ instance.content }}</p>
<p>{{ instance.timestamp }}</p>
<p>{{ instance.ticket_state }}</p>

<form method="POST">
    {% csrf_token %}
    {{ update_ticket.as_p }}
    <input type="submit" value="update">
</form>


<h3>Comments</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="comment" />
</form>
<br>
{% for comment in comments %}
<p>{{ comment.user }}</p>
<p>{{ comment.comment }}</p>
<p>{{ comment.timestamp }}</p>
<br>
{% endfor %}
{% endblock %}
