{% extends 'tickets/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
{% for ticket in ticket_list %}
{% if ticket.image %}
<img src="{{ ticket.image.url }}" />
{% endif %}
<p>{{ ticket.user }}</p>
<p>{{ ticket.tag }}</p>
<p>{{ ticket.issue }}</p>
<p>{{ ticket.content }}</p>
<p>{{ ticket.timestamp }}</p>
<p>{{ ticket.updated }}</p>
<p>{{ ticket.ticket_state }}</p>
<p>{{ ticket.completion_state }}</p>
<br>
{% endfor %}

<div class="pagination">
<span class="step-links">
    {% if ticket_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ ticket_list.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ ticket_list.number }} of {{ ticket_list.paginator.num_pages }}.
    </span>

    {% if ticket_list.has_next %}
        <a href="?page={{ ticket_list.next_page_number }}">next</a>
        <a href="?page={{ ticket_list.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>
</div>

{% endblock %}
